
*.mti
*.mpf
*.wlf


05_block_and_non-block/work
05_booth_multiplier/work

08_divider/work

09_streamlined_divider/work

10_theory_divider/work
10_theory_divider/MachXO3L

11_pipeline_lut_multiplier/work

12_pipeline_lut_multiplier_2/work
12_pipeline_lut_multiplier_2/MachXO3L

13_pipeline_booth_multiplier/work

14_pipeline_booth_multiplier_2/work

15_pipeline_theory_divider/work

16_exp/work

17_sync_FIFO/work

18_sync_FIFO_2/work

19_fifo_multiplier/work

20_mix_module/work
20_mix_module_modify/work
20_mix_module_ip/project

21_counter/work

22_virtual_key_1/work
22_virtual_key_2/work

23_uart_tx/work
23_uart_tx/project

24_uart_rx/work
24_uart_rx/project
