## CLK
NET CLK LOC = T8 | TNM_NET = sys_clk_pin | IOSTANDARD = "LVCMOS33";
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 50000kHz;

## RSTn
NET RST_n LOC = L3 | IOSTANDARD = "LVCMOS33";

#####################################################################

NET Tx_Done_Sig LOC = H16 | IOSTANDARD = "LVCMOS33";
NET Tx_Pin_Out  LOC = G16 | IOSTANDARD = "LVCMOS33";


